.jumbotron{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7d/Blue_to_purple_gradient_header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
    
}